{% load static %}

{% block styles %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'nutrihub/bootstrap.css' %}"/>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-togglable-md navbar-light bg-light">
        <a class="navbar-brand" href="#home"><b>Nutrihub</b></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action = "http://127.0.0.1:8000/nutrihub/home/#signin">
                        <button class = "btn btn-secondary" type="submit">Sign In/Sign Up</button>
                    </form>
                </li>
            </ul>
    </nav>
    <div class="header">
        <h1><br></br><center>Connecting Communities, Nourishing Lives</center></h1>
        <p><center>We're so glad to see you. Please click the button below to sign up.</center></p>
        <center><button type= "button" class="btn btn-primary">Get Started</button></center>
    </div>
</body>
</html>