<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
  .mapholder{
    height: 500px;
    width: 100%;
}

  #map {
    height: 100%;
  }
</style>

<body>

{% extends 'nutrihub/base.html' %}
{% block content %}
{% load static %}

<script>

    function initMap(data) {
       const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 51.5944418, lng: 4.7492914}
       });
       const markers = data?.map((i) => {
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
                map: map,
            })
        });

     }
  </script>


<div class="pageholder">

    <div class="linkholder">
        <div class="mapholder">
            <div id="map"></div>
            <script
            src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
            defer
            ></script>
        </div>
        <p>Hello World</p>
    </div>
</div>

{% endblock content %}
</body>
</html>