<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
  .mapholder{
    height: 500px;
    width: 100%;
}

  #map {
    height: 100%;
  }
</style>

<body>

{% extends 'nutrihub/base.html' %}
{% block content %}

<script>
    $(document).ready(function(){
        console.log("{{zipcode}}")
        var url = new URL("http://" + window.location.host + "/nutrihub/get_foodbanks/0")
        if ("{{zipcode}}" != 0){
            url = new URL("http://" + window.location.host + "/nutrihub/get_foodbanks/" + "{{zipcode}}")
            console.log("https://maps.googleapis.com/maps/api/geocode/json?address="+"{{zipcode}}"+'&key='+"{{key}}")
            fetch("https://maps.googleapis.com/maps/api/geocode/json?address="+"{{zipcode}}"+'&key='+"{{key}}")
              .then(response => response.json())
              .then(data1 => {
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (data) { 
                      const pos = {
                        lat: data1.results[0].geometry.location.lat,
                        lng: data1.results[0].geometry.location.lng
                      };
                      initMap(data, pos)
                    }
                });
              })
        }
        else{
          $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                navigator.geolocation.getCurrentPosition(
                  (position) => {
                    const pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude,
                    };
                    initMap(data, pos)
                });
            }
          });
        }
    });

    function initMap(data, pos) {
       const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: pos.lat, lng: pos.lng}
       });
       const markers = data.results?.map((i) => {
            const contextString = 
            "<div>" + i.name + "</div>" +
            "<div>" + i.vicinity + "<div>";
            const infowindow = new google.maps.InfoWindow({
                content: contextString,
            });

            const marker = new google.maps.Marker({
                position: { lat: parseFloat(i.geometry.location.lat), lng: parseFloat(i.geometry.location.lng)},
                map: map,
                title: i.name + "\n" + i.vicinity
            })

            marker.addListener("click", () => {
              infowindow.open({
                anchor: marker,
                map,
              });
            });

        });
     }

     function get_website(place_id){
        console.log(place_id)
        const url = new URL("http://" + window.location.host + "/nutrihub/get_website/" + place_id)
          $.ajax({url: url, 
          method: 'GET',
          success: function (data) {
              const doc = document.getElementById("website+" + place_id)
              doc.innerHTML = data.result.website
              doc.setAttribute('href', data.result.website)
              document.getElementById(place_id).setAttribute('disabled')
            }
        });
     }
  </script>


<div>
  <div class="mapholder">
    <div id="map"></div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
    defer
    ></script>
  </div>
</div>

<div>
{% for fb in fblist %}
  <div class = "foodbank_list">
    <button id = "{{fb.place_id}}" onclick = "get_website('{{fb.place_id}}')">
      <p>{{fb.name}}</p>
      <p>{{fb.vicinity}}</p>
      <a id = "website+{{fb.place_id}}"></a>
    </button>
  </div>
{% endfor %}
</div>

<!-- <div>
  <form action="{% url 'nutrihub:map' %}" id="search-zip" method="GET">
    {% csrf_token %}
    <input type="text" id="search-input">
  </form>
</div> -->

{% endblock content %}
</body>
</html>