{% load static %}

{% block styles %}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'nutrihub/bootstrap.css' %}"/>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
</head>
<body>
    <div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header">Thank you!</div>
        <div class="card-body mx-auto">
            <form action="{%url 'nutrihub:map' %}">
                <p class="card-text">Thank you for your donation to {{ food_bank.name }}!</p>
                <button class="btn-primary btn" type="submit">Return Back to Map</button>
        </div>

</form>
</body>
</html>